body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#userForm {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 20%;
    
}
#userForm input {
    width: 10rem;
    align-self: center;
    padding: 0.5rem;
}
#userForm button {
    margin: 0.5rem;
}
#userForm label {
    padding: 0.3rem;
    text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  letter-spacing: 1px;
  width: 40%;
  margin: 1rem;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
