body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#userForm {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 20%; 
}
img {
  align-self: center;
}
p {
  width: fit-content;
}

#userForm fieldset {
  margin-bottom: 5%;
  padding: 5%;
}
#param .field {
  display: flex;
  padding: 0.7vh;
}
#param .field label {
  flex: 1;
}
#param .field input {
  flex: 3;
}
.test {
  border: 3px black solid;
  padding: 1rem;
  margin: 1rem;
  max-width: 45%;
}
.test h1 {
  text-align: center;
}

.errorbox {
  color: red;
  background-color: rgb(231, 228, 228);
  margin-top: 10px;
  padding: 7px;
}
.errorbox h4 {
  padding-bottom: 10px;
  margin: 0;
}
.errorbox ul {
  display: block;
  padding-inline-start: 20px;
  unicode-bidi: isolate;
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  letter-spacing: 1px;
  width: 40%;
  margin: 1rem;
  justify-self: center;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
